ul{
    margin:0;
    padding:0;
    list-style:none;
}
ul li a{
    text-decoration:none;
    color:#000;
}
ul li a:hover{
    color:gray;
    text-decoration:underline;
}
ul li:last-child {
    border-bottom:none !important;
}

.listWithBudget li{
    padding:5px 0;
}
.listWithBudget li h4 {
    text-align:left;
    margin-bottom:5px;
}
.listWithBudget li a {
    color:black;
}
.listWithBudget input[name=budget] {
    float:left;
    width:100px;
    height:15px;
    outline:none;
    border:none;
    margin:0 2px 0 7px;
    padding:5px;
    background:#ecf0f1;
    font-size:100%;
    text-align:right;
}
.listWithBudget input[name=budget]:focus {
    background:#fff;
}
.listWithBudget span {
    line-height:25px;
}
.outerBar {
    background:#fff;
    height:25px;
    box-shadow:2px 2px 5px #bdc3c7 inset;
    width:80%;
    line-height:25px;
    color:#fff;
    float:left;
}
.innerBar {
    background:#2ecc71;
    height:25px;
    width:5%;
    box-shadow:2px 2px 5px #bdc3c7 inset;
    padding-left:1%;
}
li.limit .innerBar{
    background:#e67e22;
    width:79%;
}
li.limit input, li.limit span{
    color:#d35400;
}