body,html{
    padding:0;
    margin:0;
    height:100%;
    font-family:"Lucida Sans Unicode", Lucida Grande, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    text-align:center;
}
.clear {
    clear:both;
}
#pageWrapper {
    width:100%;
    min-height:100%;
    position:relative;
    background:#ecf0f1;
    min-width:1020px;
    overflow:auto;
}
#sideBar {
    background:#2980b9;
    width:200px;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    color:#fff;
    display:none;
}
#wrapper {
    padding-left:0;
    height:100%;
}
#header {
    background:#3498db;
    height:50px;
    line-height:50px;
    padding-left:20px;
}
#container {
    padding:20px;
    position:relative;
}
#controls {
    float:right;
    margin-top:10px;
    margin-right:20px;
}
#lang {
    float:right;
    margin-top:10px;
    margin-right:20px;
}
#lang a{
    margin-left:10px;
    float:left;
}
#settings {
    position:absolute;
    left:10px;
    bottom:10px;
}
#userAccount {
    padding:10px;
}
#userAccount a {
    color:#fff;
    text-decoration:none;
}
#userAccount img{
    padding-right:10px;
}
#panelIcon {
    float:left;
    margin-top:10px;
}

#dashBoard {
    width:100%;
    height:100%;
}
.dashBox {
    float:left;
    margin-right:40px;
    margin-bottom:40px;
    background:#fff;
    padding:0 20px 20px 20px;
    box-shadow: 3px 3px 1px #bdc3c7;
}
#dash_netWorth {
    width:40%;
    height:200px;
}
#dash_budget {
    height:210px;
    width:45%;
    padding:5px 20px 5px 20px;
}
#dash_budget div{
    float:left;
    width:50%;
    margin-top:5px;
}
#dashUsedBudget {
    color:#27ae60;
}
#dash_budget div div{
    clear:left;
    margin-bottom:10px;
    line-height:25px;
}
#dash_budget div div span.totalBudget{
    padding-left:5px;
    font-weight:bold;
}
#dash_accountList {
    height:40%;
    width:40%;
}
#dash_transList {
    height:40%;
    width:45%;
}
dash_converter {
    padding:10px;
    height:40%;
    width:45%;
}
#dash_accountList ul li,#dash_netWorth ul li{
    border-bottom:1px dotted #bdc3c7;
    margin:0 -20px;
    padding:5px 20px;
    clear:right;
    height:30px;
    line-height:30px;
}
#dash_accountList ul li:hover {
    color:gray;
}
.stateChange {
    float:right;
}
.stateChange span{
    margin-right:15px;
}
span.netWorth {
    font-weight:bold;
}
.upP {
    color:#27ae60;
	width:90px;
	float:right;
	margin-left:5px;
}
.dwP {
    color:#d35400;
	width:90px;
	float:right;
	margin-left:5px;
}

.canvasDiv {
    float:left;
    width:200px;
}
.legend {
    float:left;
    width:150px;
}
.legend ul li {
    height:30px;
    margin:10px 0;
    clear:left;
}
.colorCode {
    height:15px;
    width:15px;
    background:#3498db;
    float:left;
}
.label {
    float:left;
    margin-left:5px;
}

.statistics .dashBox {
    width:25%;
    height:25%;
}
#dash_totalTrend {
    width:84%;
}

.bg {
    background:#2980b9;
}
.us {
    background:#2ecc71;
}
.c1 {
    background:#3498db;
}
.c2 {
    background:#f1c40f;
}
.c3 {
    background:#2ecc71;
}

#accountAdd {
    display:none;
}